

@{
    ViewBag.Title = "Unauthorised Request";
}
<div class="row">
    <div>

        <div id="title">Error 401 : Unauthorised Request</div>

        <div id="error">You do not have permission to access the requested resource due to security restrictions.  In order to gain access, please speak to your system administrator.</div>
    </div>
</div>

